* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.curvedback {
    width: 100%;
    min-height: 32rem;
    background: linear-gradient(to bottom right, rgb(34, 0, 114),rgba(55, 13, 153, 0.6),rgba(30, 2, 80, 0.7));
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
}

.spaced-text {
    letter-spacing: 1px;
    font-size: .8rem;
}

.small-text {
    font-size: 12px;
}

@media screen and (max-width:538px) {
    .curvedback {
        min-height: 42rem;
    }
}