* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mid-text {
    font-size: 14px;
}

body > main > div > div > div > div.container.d-flex > div.col-8.fw-semibold {
    /*font-size: 14px;*/
}

.mid-img {
    height: 4rem;
    width: 7rem;
    mix-blend-mode: darken;
}

.button1{
    max-width: 4rem;
}